body {
    /* background-color: #ECECEC; */
}

.my-carousel {
    height: 300px;
}

.slider-btn {
    padding: 8px;
}

.card {
    height: 200px;
    width: 200px;
    margin: 12px;
    padding: 8px;
    /**/
    border: 1px solid black;
    border-radius: 8px;
}

.inner-card {
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 14px;
}